version: '3'
services:
  lurker:
    container_name: lurker
    image: lurker:0.0.0
    ports:
      - "5005:5005"
    environment:
      - CDB_URL=jdbc:postgresql://cdb:5432/cdb
      - CDB_USER=mrcg
      - CDB_PASSWORD=mrcg
      - ETL_BATCH_SIZE=10
      - IS_DELTA=true
      - FEED_STORAGE_BUCKET=test.feed.comicgator.com
      - GOOGLE_APPLICATION_CREDENTIALS=/var/lib/keys/feed-storage-credentials.json
      - LOG_LEVEL=info
      - INTERLUDE=30000
    tty: true
    volumes:
      - ./keys:/var/lib/keys
    depends_on:
      - cdb
    links:
      - cdb
    logging:
      options:
        max-size: "500k"
        max-file: "1"
  cdb:
    container_name: cdb
    image: postgres:9.6
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=mrcg
      - POSTGRES_PASSWORD=mrcg
      - POSTGRES_DB=cdb
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - ./db/comicdata:/var/lib/postgresql/data
    logging:
      options:
        max-size: "500k"
        max-file: "1"
